{% extends 'layout.html' %}
{% block title %}Регистрация{% endblock %}
{% block content %}
    <div class="max-w-md mx-auto mt-10 p-4 sm:p-6 neumorphic bg-white dark:bg-dark-card rounded-lg">
        <h1 class="text-2xl sm:text-3xl font-bold mb-6 text-gray-800 dark:text-dark-text">Регистрация</h1>
        <form method="post">
            {% csrf_token %}
            <div class="space-y-6">
                {% for field in form %}
                    <div>
                        <label for="{{ field.id_for_label }}" class="block text-gray-700 dark:text-dark-text mb-2 text-sm sm:text-base">{{ field.label }}</label>
                        {{ field }}
                        {% if field.errors %}
                            <p class="text-red-600 dark:text-red-400 text-sm mt-1">{{ field.errors }}</p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <button type="submit" class="mt-6 px-4 sm:px-6 py-2 sm:py-3 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition-all duration-300">Зарегистрироваться</button>
        </form>
    </div>
{% endblock %}