{% extends 'main/layout.html' %}

{% block title %}Поо нас{% endblock %}

{% block content %}
    <div class="features">
        <h1>Про нас</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis obcaecati fugiat earum assumenda nostrum aut inventore modi optio deleniti temporibus!</p>
        <button class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Поел?</button>
    </div>
{% endblock %}